{% extends 'todo/todoItemBase.html.twig' %}

{% block title %}Todo updated{% endblock %}

{% block body %}

    {{ parent() }}

    <div>
        Successfully updated item!
    </div>

{% endblock %}
