{% extends 'todo/todoItemBase.html.twig' %}

{% block title %}Todo deleted{% endblock %}

{% block body %}

    {{ parent() }}

    <div>
        Successfully deleted item!
    </div>

{% endblock %}
