{% extends 'todo/todoItemBase.html.twig' %}

{% block title %}Todolist entry{% endblock %}

{% block body %}
    <p>Entry to todolist.</p>

    <div>
        <a href="{{ path('todoList') }}">Placeholder login</a>
    </div>

    <div>
        You need to give your username and password
    </div>



{% endblock %}
